on:
  workflow_dispatch:

jobs:
  job-name:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "ulimit -n (soft/hard):"
          ulimit -Sn; ulimit -Hn
      - run: |
          ulimit -n 4096
          echo "ulimit -n (soft/hard):"
          ulimit -Sn; ulimit -Hn
