on:
  workflow_dispatch:

jobs:
  job-name:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: |
          echo "pillow == 12.0.0" >> requirements.txt
          echo "numpy >= 2.3.5" >> requirements.txt
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: pip
      - run: |
          pip install -r requirements.txt
          echo "*********** install done, checking now ***********"
          pip check
