on:
  workflow_dispatch:

jobs:
  job-name:
    strategy:
      matrix:
        attempt: [0,1,2,3,4,5,6,7,8,9]
    runs-on: ubuntu-latest
    steps:
      - name: Disable man-db auto updates
        run: |
          echo "set man-db/auto-update false" | sudo debconf-communicate && sudo dpkg-reconfigure man-db
      - name: OS packages
        run: |
          sudo apt-get update
          sudo apt-get install -yqq \
            gdal-bin \
            libpq-dev
